body {
    background-color: #30E6FF; 
    font-family: consolas;
    overflow: hidden;
}
.subcontent{
    transform: translate(-50%,-50%);
    position: absolute;
    display: table-cell;
    padding: 50px 40px;
    width: 30%;
    top: 50%;
    left: 50%;
}
.subcontent span{
    float: left; 
    width: 100%;
}
progress {
    background: #30E6FF;
    border: hidden;
    float: left; 
    width: 100%;
}
progress::-moz-progress-bar {
    border: hidden;
}
.clear {
    clear: both;
}